
.links line{
    stroke: grey;
    position: absolute;
}

.tooltip{
    position: absolute;
    background-color: lightgrey;
    padding: 1px;
    color: black;
}

.server{
    position: absolute;
}

.text-drawAnalytics{
    font: italic 25px serif; 
    fill: #42f5da;

}