.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(149, 198, 247);
  }
  
  .flex-container > div {
    background-color: #fff;
    width: 800px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 15px;
    border: 5px solid rgb(199, 189, 219);
    padding:20px;
    margin:10px;

  }