
<div class="flex-container">
  
  <div>
    <h1>NVD3 charts - compatible for Angualar2+</h1>
    <app-sin-and-cos></app-sin-and-cos>
  </div>
  <div>
    <app-cumulative-line-chart></app-cumulative-line-chart>
  </div>
  <div>
    <app-stacked-area-chart></app-stacked-area-chart>
  </div>  
  <div>
    <app-multibar-chart></app-multibar-chart>
  </div>
  <div>
    <app-scatter-chart></app-scatter-chart>
  </div>
  <div>
    <app-discrete-bar-chart></app-discrete-bar-chart>
  </div>
  <div>
    <app-historical-bar-chart></app-historical-bar-chart>
  </div>  
  <div>
    <app-pie-chart></app-pie-chart>
  </div>
  <div>
    <app-scatter-plus-line-chart></app-scatter-plus-line-chart>
  </div>
  <div>
    <app-line-plus-bar></app-line-plus-bar>
  </div>  
  <div>
    <app-line-plusbar-focus></app-line-plusbar-focus>
  </div>
  <div>
    <app-bullet-chart></app-bullet-chart>
  </div>  
  <div>
    <app-donut-chart></app-donut-chart>
  </div>  
  <div>
    <app-parallel-coordinates></app-parallel-coordinates>
  </div>  
  <div>
    <app-line-fish-eye></app-line-fish-eye>
  </div>  
  <div>12</div>  
  <div>12</div>   
  <div>12</div>  

</div>



